[defaults]
inventory = ./aws_ec2.yml
host_key_checking = False
private_key_file = /var/lib/jenkins/.ssh/nidhi-outlook.pem
retry_files_enabled = False
deprecation_warnings = False

[inventory]
enable_plugins = aws_ec2

[ssh_connection]
pipelining = True
